@media (min-width: 640px) {

    body {
        max-width: 800px;
    }

    header {
        width: 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul {
        display: flex;
    }

    #join-btn {
        font-size: 3em;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    #two-column-grid {
        display: grid;
        grid-template-columns: auto 400px;
    }

    #gallery {
        grid-column: 2/3;
    }

    picture,
    picture * {
        width: 100%;
        height: auto;
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
        transform: scale(1.3);
        z-index: 10;
    }


    #hero-img {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #currentEvents {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spotlights {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #weather {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    h1 {
        font-size: 3rem;
    }




    .card {
        max-width: none;
        margin: 20px;
        /* Adjust the margin to your preference */
    }

    #membership {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: none;
        /* Remove default bottom border */
        padding: 1rem;
    }

    /* Apply bottom border to all items (rows) except the last row */
    #membership>* {
        border-bottom: 1px solid gray;
    }


    div.benefits-column {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 0px;
    }

    #membership label.side {
        display: flex;
        align-items: center;
    }

    .directoryTable th,
    .directoryTable td {
        font-size: 1em;
        font-family: 'Arial', sans-serif;
        min-width: 100px;
    }

    .directoryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }


}