
:root {
    --main-colour: #445ba9;
    --required-borders: solid 6px;
    --input-font-colour: #555;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
    display: block;
}

/*----------- FORM --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--main-colour);
    border-radius: 10px;
    padding: .5rem 2%;
    
}

form legend {
    color: var(--main-colour);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 2rem;
}
input::placeholder {
    font-size: 1rem;
    text-align: right;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--main-colour);
    font-size: 1rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.2rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: var(--input-font-colour);
    width: 100%;
    height: 44px;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--input-font-colour);
}
#rating {
    width: 80%; 
    margin: 10px 0; 
    height: 44px;
    max-width: 20rem;
}
form input.submitBtn {
    border: none;
    background-color: var(--main-colour);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
}
#rangevalue {
    font-size: 1.5rem;
    margin-left: 30px;
}
form label.top input:required {
    border-left: red var(--required-borders);
}

form label.top input:required:valid {
    border-left: green var(--required-borders);
}



#formmessage {
    display: none;
    background-color: rgb(155, 155, 206);
    font-size: 1.5rem;
    text-align: center;
}










    /*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }